.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    border-radius: 20px ;
    height: 50vh; 
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(4, 12, 49);
    width: 70%;
    z-index: 2;
    background-color: rgba(0, 255, 225, 0.4);

}

  
  body{
    background: rgb(255,231,0);
    background: linear-gradient(90deg, rgba(255,231,0,1) 0%, rgba(255,0,52,1) 35%, rgba(0,212,255,1) 100%);
   
    /* filter:blur(5px); */
  }
  .radio-container { 
    margin-bottom: 10px;
  }
  
  .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;

  }

  .genButton{
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    background-color: red;
    color: white;
    padding: 8px;
  }

  .genButton:hover{
    background-color: rgb(255, 234, 8);
    color: black;
    transition: 0.3s ease-in-out;
    transform: translate(2px) ;
  }

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .container {
        width: 90%; /* Example width for smaller screens */
    }
    
    input {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}